<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>  
  <body>
    <%- include('header') %>
    <h2>Post Your Message</h2>
    <form class="message-form" method="POST" action="/new">
      <label for="username">Name:</label>
      <input type="text" name="username" id="username">
      <label for="text">Message:</label>
      <textarea name="text" id="text"></textarea>
      <button class="post-message-btn" type="submit">Post</button>
    </form>
  </body>
</html>