<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>  
  <body>
    <%- include('header') %>
    <h2>Post Your Message</h2>
    <% if (locals.errors) { %>
      <ul class="errors">
        <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    <% } %>
    <form class="message-form" method="POST" action="/new">
      <label for="username">Name:</label>
      <input type="text" name="username" id="username" value="<%= locals.previousInput ? previousInput.username : '' %>">
      <label for="text">Message:</label>
      <textarea name="text" id="text"><%= locals.previousInput ? previousInput.text : '' %></textarea>
      <button class="post-message-btn" type="submit">Post</button>
    </form>
  </body>
</html>