<li>
    <div class="message-container">
        <h2 class="message-user">Sent by: <%= message.user %></h2>
        <div class="message-box">
            <div class="details-btn">
                <a href="/<%= message.id %>">View Details</a>
            </div>
            <p class="message-content"><%= message.text %></p>
            <p class="message-date">Sent: <%= message.added.toLocaleString() %></p>
        </div>
    </div>
</li>